?target/
*.class
*.iml
.idean
.idea/
.idea/*
.settings/
out/
.project
*.classpath
logs/
*.log
target/*
target/classes/application-local.properties
target/classes/com/
target/classes/dynamicsql/
target/classes/url.properties
target/generated-sources/
target/generated-test-sources/
target/test-classes/
target/classes/application-pub.properties
target/classes/application-test.properties
target/classes/messages.properties
