<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapbar.display.dao.WorkOrderMapper">
  <select id="groupByWorkOrderByStatus"
    resultType="com.mapbar.display.dto.WorkOrderGroupByStatus" parameterType="java.util.List">
    SELECT
                sum(temp.individualNum) as individualNum,
                sum(temp.waitingCarNum) as waitingCarNum,
                sum(temp.checkInNum) as checkInNum,
                sum(temp.repairNum) as repairNum,
                sum(temp.unConfirmedNum) as unConfirmedNum,
                sum(temp.waitingStationNum) as waitingStationNum,
                sum(temp.exitStationNum) as exitStationNum,
                sum(temp.systemClose) as systemClose,
                sum(temp.num) as num
            FROM (
                SELECT
                    sum(case when wo_status = 1 then 1 ELSE 0 END) AS individualNum,
                    sum(case when wo_status = 2 then 1 ELSE 0 END) AS waitingCarNum,
                    sum(case when wo_status = 3 then 1 ELSE 0 END) AS checkInNum,
                    sum(case when wo_status = 4 then 1 ELSE 0 END) AS repairNum,
                    sum(case when wo_status = 5 then 1 ELSE 0 END) AS unConfirmedNum,
                    sum(case when wo_status = 6 then 1 ELSE 0 END) AS waitingStationNum,
                    sum(case when wo_status = 7 then 1 ELSE 0 END) AS exitStationNum,
                    sum(case when wo_status = 11 then 1 ELSE 0 END) AS systemClose,
                    count(two.wo_type) AS num
                FROM tbl_work_order two
                LEFT JOIN hy_service_station hss ON two.service_station_id = hss.id
                LEFT JOIN hy_car hc ON two.chassis_num = hc.CHASSIS_NUM
                LEFT JOIN t_bridge_type tbt on substring(hc.car_model_code, 1, 1) = tbt.manufacturer_code AND substring(hc.car_model_code, 5, 1) = tbt.CODE
                where (two.operater_code is null or two.operater_code in
                  <foreach item="item" index="index" collection="userId" open="(" separator="," close=")">
                      #{item}
                  </foreach>
                )
                GROUP BY two.wo_type,tbt.simple_name
            ) temp
            WHERE 1=1
  </select>

    <select id="selectGroupByWoType" parameterType="java.lang.String"
            resultType="com.mapbar.display.dto.SelectWorkOrderStatus">
    SELECT
      COUNT(sortType) num, sortType
    FROM
        (SELECT
            CASE
                    WHEN two.wo_status IN (1 , 2, 3, 4, 5,6) THEN 1
                    ELSE 2
                END sortType
        FROM
            tbl_work_order two
            LEFT JOIN hy_service_station hss ON two.service_station_id = hss.id
            LEFT JOIN hy_car hc ON two.chassis_num = hc.CHASSIS_NUM
            LEFT JOIN t_bridge_type tbt on substring(hc.car_model_code, 1, 1) = tbt.manufacturer_code AND substring(hc.car_model_code, 5, 1) = tbt.CODE

        WHERE
           (two.operater_code is null or two.operater_code in
        <foreach item="item" index="index" collection="userId" open="(" separator="," close=")">
            #{item}
        </foreach>
        )
            <if test="type == 1">
              and  two.wo_type = 2
            </if>
            <if test="type == 2">
                and two.order_way in (1,2) and two.wo_type = 1
            </if>
            <if test="type == 3">
                and  two.order_way = 3 and two.wo_type = 1
            </if>
            ) t
        GROUP BY t.sortType
    </select>

    <select id="groupByWorkOrderByStatusByDay"
            resultType="com.mapbar.display.dto.WorkOrderGroupByStatus">
        SELECT
        sum(temp.individualNum) as individualNum,
        sum(temp.waitingCarNum) as waitingCarNum,
        sum(temp.checkInNum) as checkInNum,
        sum(temp.repairNum) as repairNum,
        sum(temp.unConfirmedNum) as unConfirmedNum,
        sum(temp.waitingStationNum) as waitingStationNum,
        sum(temp.exitStationNum) as exitStationNum,
        sum(temp.systemClose) as systemClose,
        sum(temp.num) as num
        FROM (
        SELECT
        sum(case when wo_status = 1 then 1 ELSE 0 END) AS individualNum,
        sum(case when wo_status = 2 then 1 ELSE 0 END) AS waitingCarNum,
        sum(case when wo_status = 3 then 1 ELSE 0 END) AS checkInNum,
        sum(case when wo_status = 4 then 1 ELSE 0 END) AS repairNum,
        sum(case when wo_status = 5 then 1 ELSE 0 END) AS unConfirmedNum,
        sum(case when wo_status = 6 then 1 ELSE 0 END) AS waitingStationNum,
        sum(case when wo_status = 7 then 1 ELSE 0 END) AS exitStationNum,
        sum(case when wo_status = 11 then 1 ELSE 0 END) AS systemClose,
        count(two.wo_type) AS num
        FROM tbl_work_order two
        LEFT JOIN hy_service_station hss ON two.service_station_id = hss.id
        LEFT JOIN hy_car hc ON two.chassis_num = hc.CHASSIS_NUM
        LEFT JOIN t_bridge_type tbt on substring(hc.car_model_code, 1, 1) = tbt.manufacturer_code AND substring(hc.car_model_code, 5, 1) = tbt.CODE
        where
        two.create_time >= #{sDate,jdbcType=TIMESTAMP} and two.create_time <![CDATA[<=]]>#{eDate,jdbcType=TIMESTAMP} and
        (two.operater_code is null or two.operater_code in
        <foreach item="item" index="index" collection="userId" open="(" separator="," close=")">
            #{item}
        </foreach>
        )
        GROUP BY two.wo_type,tbt.simple_name
        ) temp
        WHERE 1=1
    </select>

    <select id="selectGroupByWoTypeByDay"
            resultType="com.mapbar.display.dto.SelectWorkOrderStatus">
        SELECT
        COUNT(sortType) num, sortType
        FROM
        (SELECT
        CASE
        WHEN two.wo_status IN (1 , 2, 3, 4, 5,6) THEN 1
        ELSE 2
        END sortType
        FROM
        tbl_work_order two
        LEFT JOIN hy_service_station hss ON two.service_station_id = hss.id
        LEFT JOIN hy_car hc ON two.chassis_num = hc.CHASSIS_NUM
        LEFT JOIN t_bridge_type tbt on substring(hc.car_model_code, 1, 1) = tbt.manufacturer_code AND substring(hc.car_model_code, 5, 1) = tbt.CODE

        WHERE
        two.create_time >= #{sDate,jdbcType=TIMESTAMP} and two.create_time <![CDATA[<=]]>#{eDate,jdbcType=TIMESTAMP} and
        (two.operater_code is null or two.operater_code in
        <foreach item="item" index="index" collection="userId" open="(" separator="," close=")">
            #{item}
        </foreach>
        )
        <if test="type == 1">
            and  two.wo_type = 2
        </if>
        <if test="type == 2">
            and two.order_way in (1,2) and two.wo_type = 1
        </if>
        <if test="type == 3">
            and  two.order_way = 3 and two.wo_type = 1
        </if>
        ) t
        GROUP BY t.sortType
    </select>
</mapper>